@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: #fffcdc;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Reospec";
    src: url("/fonts/Reospec.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @media (max-width: 768px) {
    #cursor {
        display: none; 
    }
}